.homepage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #4be0ef;
}
.homepage-middle{
    height: 100vh;
    display: flex;
    justify-content:space-between;
}
.homepage-middle-left{
    display: flex;
    align-items: center;
}
.homepage-middle-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(to right, #4be0ef, #00415a);
    color: black;
    text-align: right;
}
.homepage-middle-right-heading{
    margin-right: 80px;
}
.homepage-middle-right-heading span{
    color: red;
}
.homepage-middle-right-decoration{
    border-bottom: 1px white solid;
    width: 300px;
    margin-right: 80px;
}
.homepage-middle-right-data{
    margin-right: 80px;
    color: #fff;
}
